/*Bu Tasarım Emrah Kahraman tarafından kodlanmıstır.*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Oswald:wght@300;400;600;700&display=swap');
@import "_variable.scss";
@import "_mixins.scss";    
  
body {
    background-color: $base-color;
    width: 100%;
    min-height: 100vh;
    font-size: $size;
    font-family: $one-family, $two-family;
    color: $primary-color;
}
a:hover {text-decoration: none;}
.owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item{
  -ms-touch-action: auto;
  touch-action: auto;
}

//Header#
#header {
    width: 100%;
    background-color: $base-color;
    padding-top: 15px;
    padding-bottom: 15px;
    @include box-shadow2(0px, 3px, 10px, 0px, rgba(0,0,0,0.36));
    border-bottom: 7px solid $secondary-color;
    position: sticky;
    top: 0;
    z-index: 2;
    //header-wrapper
    .header-wrapper {
      @include flex();
      @include justify-content(space-between);
      @include align-items(center);
      position: relative;
      //logo
      .logo {
        position: relative;
        z-index: 3;
      }
      //menu
      .menu {
          margin-bottom: 0;
        li {
          display: inline-block;
          margin-right: 20px;
          &:last-child {
            margin-right: 0;
          }
          &:hover {
            ul {
              opacity: 1;
              visibility: visible;
            }
          }
          a {
            color: $primary-color;
            @include weight(bold);
            text-transform: uppercase;
            font-family: $two-family;
            position: relative;
            &::before {
              position: absolute;
              width: 0;
              margin: -5px 0;
              @include transition(0.4s);
              content: "";
              background-color: $secondary-color;
              height: 4px;
              border-radius: 2px;
              left: 0;
              bottom: 0;
            }
            &:hover {
              &::before {
                width: 100%;
              }
            }
          }
        }
      }
      //hamburger
      .hamburger {
        display: none;
        position: fixed;
        top: 22px;
        right: 15px;
        cursor: pointer;
        z-index: 999;
        i {
          color: $primary-color;
          font-size: 30px;
          cursor: pointer;
          @include transition(0.4s);
        }
      }
      //Notebook
      @include notebook {
        .menu {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          background-color: $base-color;
          z-index: 2;
          text-align: center;
          @include flex();
          @include flex-direction(column);
          @include justify-content(center);
          @include scale(0);
          opacity: 0;
          transition: opacity 650ms;
          li {
            display: block;
            margin-right: 0;
            padding-bottom: 25px;
            &:last-child {
              padding-bottom: 0;
            }
            a {
              text-transform: uppercase;
              font-size: 18px;
              @include weight(bold);
              color: $primary-color;
              &::before {
                background-color: $secondary-color;
              }
            }
          }
        }
        .menu.open {
          opacity: 1;
          @include scale(1);
        }
        .hamburger {
          display: block;
          .fa-times {display: none;}
          .fa-times.open {display: block;}
          .fa-bars.open {display: none;}
        }
      }
    }
}

//Home-Slider#
#home-slider {
    width: 100%;
    //home-slider-owl
    .home-slider-owl {
        position: relative;
        //item
        .item {
            position: relative;
            img {
              width: 100%;
              height: 100vh;
              object-fit: cover
            }
            .overlay-caption {
                position: absolute;
                top: 50%;
                left: 50%;
                @include translate(-50%, -50%);
                text-align: center;
                color: $base-color;
                @include weight(bold);
                text-transform: uppercase;
                font-family: $two-family;
                text-shadow: 2px 2px 8px $primary-color;
                font-size: 3vw;
            }
            //X-Tablet
            @include x-tablet {
                
            }
        }
        .owl-dots {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin-top: 0;
            width: 100%;
            background-color: $secondary-color;
            margin: 0 auto;
            text-align: center;
            padding: 15px 0 15px 0;
            .owl-dot {
              span {
                background-color: transparent;
                margin: 0 25px 0 0;
                color: $base-color;
                font-size: 20px;
                font-family: $two-family;
                @include weight(bold);
              }
            }
          .active {
            span {
              position: relative;
              &::before {
                content: "";
                position: absolute;
                bottom: 6px;
                left: 0;
                width: 22px;
                height: 4px;
                background-color: $base-color;
              }
            }
          }
        }
    }
}

//Home-Services#
#home-services {
    width: 100%;
    padding: 80px 0 80px;
    //title
    .title {
        text-align: left;
        h5 {
            text-transform: uppercase;
            font-size: 16px;
            padding-left: 60px;
            font-family: $two-family;
            letter-spacing: 0.5px;
            color: $secondary-color;
            @include weight(bold);
            margin-bottom: 0;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              top: 6px;
              left: 0;
              width: 50px;
              height: 4px;
              margin: 0 auto;
              background-color: $secondary-color;
            }
        }
        h6 {
            padding-top: 10px;
            color: $primary-color;
            font-size: 25px;
            text-transform: capitalize;
            font-family: $two-family;
            @include weight(semi-bold);
            color: $primary-color;
            margin-bottom: 0;
        }
        //Mobil
        @include mobil {
            h6 {font-size: $size;}
        }
        //X-Small
        @include x-small {
            h5 {font-size: 12px;}
            h6 {font-size: 13px; line-height: 18px;}
        }
    }
    //home-services-owl
    .home-services-owl {
        text-align: center;
        padding-top: 40px;
        position: relative;
        //item
        .item {
            position: relative;
            background-color: $secondary-color;
            padding: 60px 20px;
            color: $base-color;
            @include transition(0.4s);
            cursor: pointer;
            h6 {
                padding-top: 20px;
                text-transform: uppercase;
                font-size: 20px;
                font-family: $two-family;
                @include weight(bold);
                margin-bottom: 0;
            }
            p {
                padding-top: 15px;
                letter-spacing: 0.4px;
                margin-bottom: 0;
            }
            &:hover {
                @include translate(0, -7px);
            }
            //X-Tablet
            @include x-tablet {
                padding: 40px 0;
                h6 {font-size: 16px;}
                p {padding-top: 10px;}
            }
        }
        //owl-nav
        .owl-nav {
            margin-top: 25px;
            .owl-prev, .owl-next {
                width: 35px;
                height: 35px;
                line-height: 35px;
                background-color: $primary-color;
                color: $base-color;
                outline: 0;
                font-size: $size;
            }
        }
        //X-Tablet
        @include x-tablet {
          padding-top: 40px;
        }
    }
}

//Home-About#
#home-about {
  width: 100%;
  background-color: #f7f7f7;
  //home-about-wrapper
  .home-about-wrapper {
    @include flex();
    @include justify-content(space-between);
    @include align-items(center);
    @include flex-wrap(wrap);
    //home-about-img
    .home-about-img {
      width: 50%;
      img {width: 100%}
    }
    //home-about-text
    .home-about-text {
      width: 50%;
      padding: 0 15px 0 15px;
      h6 {
        font-family: $two-family;
        text-transform: uppercase;
        color: $secondary-color;
        @include weight(bold);
        font-size: 35px;
        margin-bottom: 0;
        position: relative;
        &::before {
          content: "";
          width: 10%;
          height: 6px;
          background-color: $secondary-color;
          position: absolute;
          bottom: -10px;
          left: 0;
        }
      }
      p {
        margin-bottom: 0;
        padding-top: 30px;
        color: $primary-color;
        line-height: 23px;
        letter-spacing: 0.4px;
        font-family: $one-family;
        @include weight(light);
      }
      button {
        margin-top: 30px;
        background-color: $secondary-color;
        outline: 0;
        padding: 10px 40px;
        a {
          color: $base-color;
          text-transform: uppercase;
          @include weight(bold);
          font-family: $two-family;
        }
      }
    }
    //Large
    @include large {
      .home-about-text {
        h6 {font-size: 30px;}
        button {margin-top: 25px;}
      }
    }
    //Notebook
    @include notebook {
      @include flex-direction(column);
      //home-about-img
      .home-about-img {
        width: 100%;
      }
      //home-about-text
      .home-about-text {
        width: 100%;
        padding: 50px 15px 50px 15px;
      }
    }
    //Tablet
    @include tablet {
      //home-about-text
      .home-about-text {
        h6 {
          font-size: 20px;
          &::before {
            width: 7%
          }
        }
        p {padding-top: 20px;}
        button {margin-top: 20px; width: 100%; padding: 10px 0;}
      }
    }
    //Small
    @include small {
      //home-about-text
      .home-about-text {
        h6 {
          font-size: 17px;
          &::before {
            width: 25%;
            height: 4px;
            bottom: -7px;
          }
        }
        p {padding-top: 20px;}
        button {
          margin-top: 20px; width: 100%; padding: 5px 0;
          a {font-size: 12px;}
        }
      }
    }
  }
}

//Home-Features#
#home-features {
  width: 100%;
  padding: 80px 0 50px 0;
  //title
  .title {
    text-align: left;
    h5 {
      text-transform: uppercase;
      font-size: 16px;
      padding-left: 60px;
      font-family: $two-family;
      letter-spacing: 0.5px;
      color: $secondary-color;
      @include weight(bold);
      margin-bottom: 0;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 6px;
        left: 0;
        width: 50px;
        height: 4px;
        margin: 0 auto;
        background-color: $secondary-color;
      }
    }
    h6 {
      padding-top: 10px;
      color: $primary-color;
      font-size: 25px;
      text-transform: capitalize;
      font-family: $two-family;
      @include weight(semi-bold);
      color: $primary-color;
      margin-bottom: 0;
    }
    //Mobil
    @include mobil {
      h6 {font-size: $size;}
    }
    //X-Small
    @include x-small {
      h5 {font-size: 12px;}
      h6 {font-size: 13px; line-height: 18px;}
    }
  }
  //home-features-wrapper
  .home-features-wrapper {
    padding-top: 40px;
    //home-features-owl
    .home-features-owl {
      .owl-dots {
        margin-top: 15px;
        .owl-dot {
          outline: 0;
          span {
            width: 25px;
            height: 7px;
            background-color: $three-color;
            @include transition(0.4s);
          }
        }
        .active {
          outline: 0;
          span {
            width: 35px;
            height: 7px;
            background-color: $secondary-color;
          }
        }
      }
    }
    //home-features-icons
    .home-features-icons {
      @include flex();
      @include flex-direction(column);
      @include align-items(center);
      //icons
      .icons {
        @include flex();
        margin-bottom: 40px;
        &:last-child {
          margin-bottom: 0;
        }
        .icon {
          i {color: $secondary-color}
        }
        .icon-desc {
          padding-left: 15px;
          h6 {
            color: $primary-color;
            @include weight(bold);
            text-transform: uppercase;
            font-size: 16px;
            margin-bottom: 0;
          }
          p {
            padding-top: 7px;
            margin-bottom: 0;
            color: $three-color;
            font-size: $size;
          }
        }
      }
    }
    //Notebook
    @include notebook {
      .home-features-icons {
        margin-top: 40px;
      }
    }
    //Mobil
    @include mobil {
      .home-features-icons {
        .icons {
          @include flex();
          @include flex-direction(column);
          text-align: center;
          .icon-desc {
            padding: 10px 0 0 0;
            h6 {font-size: $size;}
            p {font-size: 12px; line-height: 22px; letter-spacing: normal;}
          }
        }
      }
    }
  }
}

//Home-Brands#
#home-brands {
  width: 100%;
  padding: 80px 0 80px 0;
  //title
  .title {
    text-align: left;
    h5 {
      text-transform: uppercase;
      font-size: 16px;
      padding-left: 60px;
      font-family: $two-family;
      letter-spacing: 0.5px;
      color: $secondary-color;
      @include weight(bold);
      margin-bottom: 0;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 6px;
        left: 0;
        width: 50px;
        height: 4px;
        margin: 0 auto;
        background-color: $secondary-color;
      }
    }
    h6 {
      padding-top: 10px;
      color: $primary-color;
      font-size: 25px;
      text-transform: capitalize;
      font-family: $two-family;
      @include weight(semi-bold);
      color: $primary-color;
      margin-bottom: 0;
    }
    //Mobil
    @include mobil {
      h6 {font-size: $size;}
    }
    //X-Small
    @include x-small {
      h5 {font-size: 12px;}
      h6 {font-size: 13px; line-height: 18px;}
    }
  }
  //home-brands-owl
  .home-brands-owl {
    padding-top: 40px;
    position: relative;
    //item
    .item {
      text-align: center;
      img {width: 100%; margin: 0 auto;}
    }
    //owl-nav
    .owl-nav {
      margin-top: 25px;
      .owl-prev, .owl-next {
        width: 35px;
        height: 35px;
        line-height: 35px;
        background-color: $secondary-color;
        outline: 0;
        font-size: 15px;
        padding: 0;
        color: $base-color;
      }
    }
  }
}

//Home-Contact#
#home-contact {
  width: 100%;
  background-color: $secondary-color;
  padding: 30px 0 30px 0;
  //home-contact-wrapper
  .home-contact-wrapper {
    @include flex();
    @include justify-content(space-between);
    @include align-items(center);
    //home-contact-text
    .home-contact-text {
      @include weight(semi-bold);
      text-transform: uppercase;
      font-family: $two-family;
      font-size: 22px;
      color: $base-color;
    }
    //home-contact-button
    .home-contact-button {
      button {
        background-color: $base-color;
        padding: 10px 60px;
        @include box-shadow2(0px, 3px, 10px, 0px, rgba(0,0,0,0.36));
        outline: 0;
        a {
          text-transform: uppercase;
          @include weight(bold);
          font-family: $two-family;
          color: $secondary-color;
        }
      }
    }
    //Notebook
    @include notebook {
      @include flex();
      @include flex-direction(column);
      text-align: center;
      //home-contact-text
      .home-contact-text {font-size: 20px;}
      //home-contact-button
      .home-contact-button {margin-top: 15px;}
    }
    //Mobil
    @include mobil {
      //home-contact-text
      .home-contact-text {font-size: 17px;}
    }
    //Small
    @include small {
      //home-contact-text
      .home-contact-text {font-size: $size;}
      //home-contact-button
      .home-contact-button {
        button {
          padding: 10px 40px;
          a {font-size: 12px;}
        }
      }
    }
  }
}

//Footer#
#footer {
  width: 100%;
  background: #252d36;
  padding: 30px 0 30px 0;
  background-color: $primary-color;
  //footer-wrapper
  .footer-wrapper {
    @include flex();
    @include justify-content(space-between);
    @include align-items(center);
    //footer-copyright
    .footer-copyright {
      color: $base-color;
      font-size: $size;
    }
    //footer-social
    .footer-social {
      ul {
        margin-bottom: 0;
        li {
          display: inline-block;
          margin-right: 7px;
          &:last-child {
            margin-right: 0;
          }
          a {
            color: $base-color;
            i {
              width: 30px;
              height: 30px;
              line-height: 30px;
              text-align: center;
              background-color: $secondary-color;
            }
          }
        }
      }
    }
    //Tablet
    @include tablet {
      @include flex();
      @include flex-direction(column);
      text-align: center;
      .footer-copyright {font-size: 12px;}
      .footer-social {margin-top: 10px;}
    }
    //235
    @media screen and (max-width: 235px) {
      .footer-social {
        ul {
          li {
            margin: 0 0 5px 5px;
            &:last-child {
              margin: 0;
            }
          }
        }
      }
    }
  }
}


//////////ABOUT.HTML
//About-Page#
#about-page {
  background: url('https://via.placeholder.com/1920x250') no-repeat top center;
  padding: 90px 0;
  .page-title {
    color: $base-color;
    font-family: $two-family;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 8px $primary-color;
  }
  //Tablet
  @include tablet {
    .page-title {font-size: 30px;}
  }
  //Mobil
  @include mobil {
    .page-title {font-size: 20px;}
  }
}

//About-İnfo#
#about-info {
  width: 100%;
  padding: 80px 0 80px 0;
  //about-info-wrapper
  .about-info-wrapper {
    //about-info-img
    .about-info-img {
      img {width: 100%}
    }
    //about-info-text
    .about-info-text {
      h5 {
        text-transform: uppercase;
        @include weight(bold);
        font-family: $two-family;
        letter-spacing: 0.4px;
        font-size: 30px;
        color: $secondary-color;
      }
      h6 {
        color: $primary-color;
        font-size: 16px;
        font-family: $one-family;
        @include weight(semi-bold);
      }
      p {
        padding-top: 10px;
        color: $three-color;
        letter-spacing: 0.4px;
        line-height: 24px;
        margin-bottom: 0;
      }
    }
    //Notebook
    @include notebook {
      //about-info-text
      .about-info-text {
        margin-top: 30px;
      }
    }
    //Tablet
    @include tablet {
      //about-info-text
      .about-info-text {
        h5 {font-size: 20px;}
        h6 {font-size: $size;}
        p {padding-top: 5px;}
      }
    }
    //Mobil
    @include mobil {
      //about-info-text
      .about-info-text {
        h5 {font-size: 15px;}
        h6 {font-size: 12px;}
        p {padding-top: 5px; font-size: 12px; line-height: 20px; letter-spacing: normal;}
      }
    }
  }
}

//Mission-Vission#
#mission-vission {
  width: 100%;
  padding: 50px 0 50px 0;
  background-color: #f7f7f7;
  //mission-vission-wrapper
  .mission-vission-wrapper {
    //mission
    .mission {
      @include flex();
      .icon-desc {
        padding-left: 15px;
        h6 {
          color: $primary-color;
          text-transform: uppercase;
          @include weight(bold);
          font-family: $two-family;
          font-size: 25px;
        }
        p {color: $three-color; letter-spacing: 0.4px; font-size: $size;}
      }
    }
    //vission
    .vission {
      @include flex();
      .icon-desc {
        padding-left: 15px;
        h6 {
          color: $primary-color;
          text-transform: uppercase;
          @include weight(bold);
          font-family: $two-family;
          font-size: 25px;
        }
        p {color: $three-color; letter-spacing: 0.4px; font-size: $size;}
      }
    }
    //Notebook
    @include notebook {
      .vission {margin-top: 30px;}
    }
    //Tablet
    @include tablet {
      //mission
      .mission {
        @include flex();
        @include flex-direction(column);
        text-align: center;
        .icon-desc {
          padding: 12px 0 0 0;
          h6 {font-size: 18px;}
        }
      }
      //vission
      .vission {
        @include flex();
        @include flex-direction(column);
        text-align: center;
        .icon-desc {
          padding: 12px 0 0 0;
          h6 {font-size: 18px;}
        }
      }
    }
  }
}

//About-Team#
#about-team {
  width: 100%;
  padding: 80px 0 80px 0;
  //title
  .title {
    text-align: left;
    h5 {
      text-transform: uppercase;
      font-size: 16px;
      padding-left: 60px;
      font-family: $two-family;
      letter-spacing: 0.5px;
      color: $secondary-color;
      @include weight(bold);
      margin-bottom: 0;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 6px;
        left: 0;
        width: 50px;
        height: 4px;
        margin: 0 auto;
        background-color: $secondary-color;
      }
    }
    h6 {
      padding-top: 10px;
      color: $primary-color;
      font-size: 25px;
      text-transform: capitalize;
      font-family: $two-family;
      @include weight(semi-bold);
      color: $primary-color;
      margin-bottom: 0;
    }
    //Mobil
    @include mobil {
      h6 {font-size: $size;}
    }
    //X-Small
    @include x-small {
      h5 {font-size: 12px;}
      h6 {font-size: 13px; line-height: 18px;}
    }
  }
  //about-team-owl
  .about-team-owl {
    padding-top: 40px;
    //item
    .item {
      img {width: 100%}
      h5 {
        padding-top: 15px;
        text-transform: uppercase;
        font-family: $two-family;
        font-size: 20px;
        letter-spacing: 0.4px;
        @include weight(bold);
      }
      h6 {
        color: $secondary-color;
        font-size: 16px;
        font-family: $one-family;
        text-transform: capitalize;
        letter-spacing: 0.4px;
      }
    }
    .owl-dots {
      margin-top: 20px;
      .owl-dot {
        outline: 0;
        span {
          width: 25px;
          height: 7px;
          background-color: $three-color;
          @include transition(0.4s);
        }
      }
      .active {
        outline: 0;
        span {
          width: 35px;
          height: 7px;
          background-color: $secondary-color;
        }
      }
    }
  }
}

//About-Counter#
#about-counter {
  width: 100%;
  padding: 50px 0 50px 0;
  background-color: $secondary-color;
  //about-counter-wrapper
  .about-counter-wrapper {
    text-align: center;
    //counter-item
    .counter-item {
      color: $base-color;
      .count {
        @include weight(bold);
        font-size: 35px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          bottom: -4px;
          left: 0;
          right: 0;
          width: 20%;
          height: 4px;
          background-color: $base-color;
          text-align: center;
          margin: 0 auto;
        }
      }
      h6 {
        padding-top: 20px;
        @include weight(semi-bold);
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 0;
      }
    }
  }
   //Notebook
   @include notebook {
    padding: 50px 0 30px 0;
     .about-counter-wrapper {
      .counter-item {
        margin-bottom: 30px;
        .count {font-size: 25px;}
        h6 {font-size: 16px;}
      }
     }
  }
}


//////////SERVİCES.HTML
//Services-Page#
#services-page {
  background: url('https://via.placeholder.com/1920x250') no-repeat top center;
  padding: 90px 0;
  .page-title {
    color: $base-color;
    font-family: $two-family;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 8px $primary-color;
  }
  //Tablet
  @include tablet {
    .page-title {font-size: 30px;}
  }
  //Mobil
  @include mobil {
    .page-title {font-size: 20px;}
  }
}

//Services#
#services {
  width: 100%;
  padding: 80px 0 40px 0;
  //title
  .title {
    text-align: left;
    h5 {
      text-transform: uppercase;
      font-size: 16px;
      padding-left: 60px;
      font-family: $two-family;
      letter-spacing: 0.5px;
      color: $secondary-color;
      @include weight(bold);
      margin-bottom: 0;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 6px;
        left: 0;
        width: 50px;
        height: 4px;
        margin: 0 auto;
        background-color: $secondary-color;
      }
    }
    h6 {
      padding-top: 10px;
      color: $primary-color;
      font-size: 25px;
      text-transform: capitalize;
      font-family: $two-family;
      @include weight(semi-bold);
      color: $primary-color;
      margin-bottom: 0;
    }
    //Mobil
    @include mobil {
      h6 {font-size: $size;}
    }
    //X-Small
    @include x-small {
      h5 {font-size: 12px;}
      h6 {font-size: 13px; line-height: 18px;}
    }
  }
  //services-wrapper
  .services-wrapper {
    padding-top: 40px;
    //services-item
    .services-item {
      margin-bottom: 40px;
      img {width: 100%;}
      h6 {
        padding-top: 15px;
        margin-bottom: 0;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          bottom: -8px;
          left: 0;
          width: 20%;
          height: 3px;
          background-color: $secondary-color;
          margin: 0 auto;
        }
        a {
          color: $secondary-color;
          text-transform: uppercase;
          @include weight(bold);
          font-size: 18px;
        }
      }
      p {
        padding-top: 20px;
        color: $three-color;
        letter-spacing: 0.4px;
        margin-bottom: 0;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical; 
        overflow:hidden;
      }
      button {
        margin-top: 15px;
        width: 100%;
        background-color: $secondary-color;
        outline: 0;
        padding: 8px 0;
        a {
          color: $base-color;
          text-transform: uppercase;
          font-size: $size;
          @include weight(bold);
        }
      }
    }
    //Tablet
    @include tablet {
      .services-item {
        text-align: center;
        h6 {
          &::before {
            right: 0;
          }
          a {font-size: 16px;}
        }
      }
    }
    //Mobil
    @include mobil {
      .services-item {
        h6 {
          &::before {
            right: 0;
          }
          a {font-size: $size;}
        }
        p {font-size: 12px;}
        button {
          padding: 5px 0 7px 0;
          a {font-size: 12px;}
        }
      }
    }
  }
}


//////////WEB-TASARIM.HTML
//Services-Page#
#services-page {
  background: url('https://via.placeholder.com/1920x250') no-repeat top center;
  padding: 90px 0;
  .page-title {
    color: $base-color;
    font-family: $two-family;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 8px $primary-color;
  }
  //Tablet
  @include tablet {
    .page-title {font-size: 30px;}
  }
  //Mobil
  @include mobil {
    .page-title {font-size: 20px;}
  }
}


//////////PROJECTS.HTML
//Projects-Page#
#projects-page {
  background: url('https://via.placeholder.com/1920x250') no-repeat top center;
  padding: 90px 0;
  .page-title {
    color: $base-color;
    font-family: $two-family;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 8px $primary-color;
  }
  //Tablet
  @include tablet {
    .page-title {font-size: 30px;}
  }
  //Mobil
  @include mobil {
    .page-title {font-size: 20px;}
  }
}

//Projects#
#projects {
  width: 100%;
  padding: 80px 0 50px;
   //title
   .title {
    text-align: left;
    h5 {
      text-transform: uppercase;
      font-size: 16px;
      padding-left: 60px;
      font-family: $two-family;
      letter-spacing: 0.5px;
      color: $secondary-color;
      @include weight(bold);
      margin-bottom: 0;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 6px;
        left: 0;
        width: 50px;
        height: 4px;
        margin: 0 auto;
        background-color: $secondary-color;
      }
    }
    h6 {
      padding-top: 10px;
      color: $primary-color;
      font-size: 25px;
      text-transform: capitalize;
      font-family: $two-family;
      @include weight(semi-bold);
      color: $primary-color;
      margin-bottom: 0;
    }
    //Mobil
    @include mobil {
      h6 {font-size: $size;}
    }
    //X-Small
    @include x-small {
      h5 {font-size: 12px;}
      h6 {font-size: 13px; line-height: 18px;}
    }
  }
  //projects-wrapper
  .projects-wrapper {
    padding-top: 40px;
    //project-item
    .project-item {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
      //project-img
      .project-img {
        img {width: 100%}
      }
      //project-desc
      .project-desc {
        .project-name {
          color: $primary-color;
          text-transform: uppercase;
          font-family: $two-family;
          font-size: 20px;
          @include weight(bold);
          letter-spacing: 0.5px;
          margin-bottom: 0;
        }
        .project-date {
          padding-top: 5px;
          color: $secondary-color;
          @include weight(regular);
          font-family: $one-family;
          font-size: $size;
        }
        .project-description {
          padding-top: 20px;
          color: $three-color;
          font-size: $size;
          line-height: 23px;
          letter-spacing: 0.4px;
        }
        .project-technology {
          padding-top: 30px;
          img {width: 100%}
        }
        button {
          margin-top: 40px;
          width: 100%;
          background-color: $secondary-color;
          padding: 10px 0;
          outline: 0;
          a {
            color: $base-color;
            text-transform: uppercase;
            @include weight(bold);
            font-family: $two-family;
            font-size: $size;
          }
        }
      }
    }
    //Notebook
    @include notebook {
      .project-item {
        .project-desc {
          padding-top: 20px;
        }
      }
    }
    //Mobil
    @include mobil {
      .project-item {
        .project-desc {
          .project-name {font-size: $size;}
          .project-description {padding-top: 15px; font-size: 12px; line-height: 20px;}
          .project-technology {padding-top: 20px;}
          button {
            margin-top: 30px;
            padding-top: 6px;
            a {font-size: 12px;}
          }
        }
      }
    }
  }
}


//////////FAQ.HTML
//Faq-Page#
#faq-page {
  background: url('https://via.placeholder.com/1920x250') no-repeat top center;
  padding: 90px 0;
  .page-title {
    color: $base-color;
    font-family: $two-family;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 8px $primary-color;
  }
  //Tablet
  @include tablet {
    .page-title {font-size: 30px;}
  }
  //Mobil
  @include mobil {
    .page-title {font-size: 20px;}
  }
}

//Faq#
#faq {
  width: 100%;
  padding: 80px 0 50px 0;
  //title
  .title {
    text-align: left;
    h5 {
      text-transform: uppercase;
      font-size: 16px;
      padding-left: 60px;
      font-family: $two-family;
      letter-spacing: 0.5px;
      color: $secondary-color;
      @include weight(bold);
      margin-bottom: 0;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 6px;
        left: 0;
        width: 50px;
        height: 4px;
        margin: 0 auto;
        background-color: $secondary-color;
      }
    }
    h6 {
      padding-top: 10px;
      color: $primary-color;
      font-size: 25px;
      text-transform: capitalize;
      font-family: $two-family;
      @include weight(semi-bold);
      color: $primary-color;
      margin-bottom: 0;
    }
    //Mobil
    @include mobil {
      h6 {font-size: $size;}
    }
    //X-Small
    @include x-small {
      h5 {font-size: 12px;}
      h6 {font-size: 13px; line-height: 18px;}
    }
  }
  //accordion
  .accordion {
    padding-top: 40px;
    .accordion-item {
      border-bottom: 1px solid $three-color;
      button[aria-expanded='true'] {
        border-bottom: 1px solid $secondary-color;
      }
    }
    button {
      position: relative;
      display: block;
      text-align: left;
      width: 100%;
      color: $primary-color;
      border: none;
      background: none;
      outline: none;
      padding: 30px 0;
      &:last-child {
        padding: 0;
      }
      &:hover, &:focus {
        cursor: pointer;
        color: $secondary-color;
        &::after {
          cursor: pointer;
          color: $secondary-color;
          border: 1px solid $three-color;
        }
      }
      .accordion-title {
        font-size: 18px;
        @include weight(bold);
      }
      .icon {
        display: inline-block;
        position: absolute;
        top: 18px;
        right: 0;
        width: 22px;
        height: 22px;
        border: 1px solid;
        border-radius: 22px;
        &::before {
          display: block;
          position: absolute;
          content: '';
          top: 9px;
          left: 5px;
          width: 10px;
          height: 2px;
          background: currentColor;
        }
        &::after {
          display: block;
          position: absolute;
          content: '';
          top: 5px;
          left: 9px;
          width: 2px;
          height: 10px;
          background: currentColor;
        }
      }
    }
    button[aria-expanded='true'] {
      color: $secondary-color;
      .icon {
        &::after {
          width: 0;
        }
      }
      + .accordion-content {
        opacity: 1;
        max-height: 9em;
        transition: all 200ms linear;
        will-change: opacity, max-height;
      }
    }
    .accordion-content {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: opacity 200ms linear, max-height 200ms linear;
      will-change: opacity, max-height;
      p {
        font-size: 1rem;
        @include weight(regular);
        margin: 15px 0;
        color: $three-color
      }
    }
    //Mobil
    @include mobil {
      .accordion-item {
        .accordion-title {font-size: $size;}
        .accordion-content {
          p {font-size: 12px;}
        }
      }
    }
    //X-Small
    @include x-small {
      .accordion-item {
        .accordion-title {font-size: 12px; letter-spacing: normal; line-height: 15px; margin-right: 30px;}
        .accordion-content {
          p {font-size: 12px;}
        }
      }
    }
  }
}


//////////BLOG.HTML
//Blog-Page#
#blog-page {
  background: url('https://via.placeholder.com/1920x250') no-repeat top center;
  padding: 90px 0;
  .page-title {
    color: $base-color;
    font-family: $two-family;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 8px $primary-color;
  }
  //Tablet
  @include tablet {
    .page-title {font-size: 30px;}
  }
  //Mobil
  @include mobil {
    .page-title {font-size: 20px;}
  }
}

//Blog#
#blog {
  width: 100%;
  padding: 80px 0 50px 0;
  //blog-wrapper
  .blog-wrapper {
    .blog-item {
      margin-bottom: 30px;
      img {width: 100%}
      .category {
        position: absolute;
        top: 10px;
        left: 25px;
        background-color: $secondary-color;
        padding: 5px 10px;
        color: $base-color;
        font-size: $size;
        @include weight(semi-bold);
        cursor: pointer;
      }
      h6 {
        margin-bottom: 0;
        padding-top: 15px;
        line-height: normal;
        a {
          color: $primary-color;
          text-transform: capitalize;
          font-size: 18px;
          @include weight(bold);
          letter-spacing: 0.5px;
          @include transition(0.4s);
          &:hover {
            color: $secondary-color;
          }
        }
      }
      .date {
        color: $secondary-color;
        padding-top: 10px;
        font-size: $size;
      }
      p {
        padding-top: 10px;
        color: $three-color;
        line-height: 22px;
        letter-spacing: 0.5px;
        font-size: $size;
        margin-bottom: 0;
      }
    }
    //Notebook
    @include notebook {
      .blog-item {
        h6 {
          a {font-size: 16px;}
        }
      }
    }
    //Tablet
    @include tablet {
      text-align: center;
      .blog-item {
        h6 {
          a {font-size: 15px;}
        }
      }
    }
    //Mobil
    @include mobil {
      .blog-item {
        .category {top: 5px; left: 20px; padding: 7px; font-size: 12px;}
        h6 {
          line-height: 13px;
          a {font-size: 12px;}
        }
        .date {font-size: 12px;}
        p {font-size: 12px; line-height: 18px; letter-spacing: normal;}
      }
    }
  }
  //page
  .page {
    text-align: center;
    margin-bottom: 0;
    padding: 30px 0 20px 0;
    li {
      display: inline-block;
      margin-right: 7px;
      &:last-child {
        margin-right: 0;
      }
      a {
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: $secondary-color;
        color: $base-color;
      }
    }
    //205
    @media screen and (max-width: 204px) {
      li {
        margin: 0 5px 5px 0;
        &:last-child {
          margin: 0 0 0 0;
        }
      }
    }
  }
}


//////////BLOG-SİNGLE.HTML
//Blog-Post
.blog-post {
  img {width: 100%;}
  .category {
    position: absolute;
    top: 10px;
    left: 25px;
    background-color: $secondary-color;
    padding: 5px 10px;
    color: $base-color;
    font-size: $size;
    @include weight(semi-bold);
    cursor: pointer;
  }
  h6 {
    margin-bottom: 0;
    padding-top: 15px;
    line-height: normal;
    color: $primary-color;
    text-transform: capitalize;
    font-size: 18px;
    @include weight(bold);
    letter-spacing: 0.5px;
  }
  .date {
    color: $secondary-color;
    padding-top: 10px;
    font-size: $size;
  }
  p {
    padding-top: 10px;
    color: $three-color;
    line-height: 22px;
    letter-spacing: 0.5px;
    font-size: $size;
    margin-bottom: 0;
  }
}

//Blog-Sidebar
.blog-sidebar {
  //sidebar
  .sidebar {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    //search
    .search {
      position: relative;
      input {
        width: 100%;
        border: 1px solid #dbd6d6;
        color: $primary-color;
        padding: 10px;
      }
      i {
        position: absolute;
        top: 15px;
        color: $three-color;
        right: 20px;
      }
    }
    //categories
    .categories {
      h4 {
        margin-bottom: 0;
        color: $primary-color;
        font-size: 16px;
        font-family: $one-family;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 15%;
          border-bottom: 2px solid $secondary-color;
        }
      }
      ul {
        margin-bottom: 0;
        padding-top: 10px;
        li {
          border-bottom: 1px solid #dbd6d6;
          padding-top: 5px;
          padding-bottom: 7px;
          &:last-child {
            padding-bottom: 0;
            border-bottom: none;
          }
          a {
            color: $primary-color;
            text-transform: capitalize;
            font-size: $size;
            @include weight(semi-bold);
          }
        }
      }
    }
    //popular-post
    .popular-post {
      h4 {
        margin-bottom: 0;
        color: $primary-color;
        font-size: 16px;
        font-family: $one-family;
        position: relative;
        margin-bottom: 25px;
        &::before {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 15%;
          border-bottom: 2px solid $secondary-color;
        }
      }
      .post-item {
        @include flex();
        @include align-items(center);
        padding-bottom: 15px;
        &:last-child {
          padding-bottom: 0;
        }
        .post-item-img {
          img {width: 100%}
        }
        .post-item-desc {
          padding-left: 10px;
          h6 {
            margin-bottom: 0;
            a {
              color: $primary-color;
              font-size: $size;
            }
          }
          p {
            padding-top: 5px;
            margin-bottom: 0;
            color: $three-color;
            line-height: 17px;
            font-size: $size;
          }
        }
      }
    }
  }
  //Tablet
  @include tablet {
    //Sidebar
    .sidebar {
      .categories, .popular-post {
        h4 {
          &::before {
            margin: 0 auto;
            right: 0;
          }
        }
      }
      .popular-post {
        .post-item {
          @include flex();
          @include flex-direction(column);
          .post-item-desc {
            padding: 7px 0 0 0;
          }
        }
      }
    }
  }
  //Mobil
  @include mobil {
    //Sidebar
    .sidebar {
      .popular-post {
        .post-item {
          .post-item-desc {
            h6 {
              line-height: 15px;
              a {font-size: 12px;}
            }
            p {font-size: 12px;}
          }
        }
      }
    }
  }
}


//////////404.HTML
//Error#
#error {
  width: 100%;
  height: 82vh;
  position: relative;
  //center
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    @include translate(-50%, -50%);
    text-align: center;
    h5 {
      font-size: 150px;
      @include weight(bold);
      font-family: $two-family;
      color: $secondary-color;
    }
    h6 {
      margin-bottom: 0;
      font-size: 20px;
      font-family: $one-family;
      color: $three-color;
    }
  }
}


//////////CONTACT.HTML
//Contact-Page#
#contact-page {
  background: url('https://via.placeholder.com/1920x250') no-repeat top center;
  padding: 90px 0;
  .page-title {
    color: $base-color;
    font-family: $two-family;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 8px $primary-color;
  }
  //Tablet
  @include tablet {
    .page-title {font-size: 30px;}
  }
  //Mobil
  @include mobil {
    .page-title {font-size: 20px;}
  }
}

//Contact#
#contact {
  width: 100%;
  padding: 80px 0 50px 0;
  //contact-wrapper
  .contact-wrapper {
    //contact-info
    .contact-info {
      @include flex();
      @include flex-direction(column);
      .icon-item {
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
        .icon {
          margin-bottom: 10px;
          i {
            background-color: $secondary-color;
            @include border-radius(50%);
            width: 70px;
            height: 70px;
            text-align: center;
            line-height: 60px;
            color: #fff;
            font-size: 25px;
            border: 7px solid #84422d;
          }
        }
        address {
          margin-bottom: 0;
          color: $primary-color;
          font-size: $size;
        }
        h3 {
          margin-bottom: 0;
          a {
            font-size: $size;
            color: $primary-color;
          }
        }
        h4 {
          padding-top: 5px;
          margin-bottom: 0;
          font-size: $size;
        }
        h5 {
          padding-top: 10px;
          margin-bottom: 0;
          color: $primary-color;
          font-size: $size;
        }
      }
    }
    //Notebook
    @include notebook {
      text-align: center;
      .contact-map {
        margin-top: 30px;
      }
    }
    //Mobil
    @include mobil {
      .contact-info {
        .icon-item {
          address, h4, h5 {font-size: 12px;}
          h3 {
            a {font-size: 12px;}
          }
        }
      }
    }
  }
}